/* header section */
.header {
    background-image: url(./images/header\ background\ images.png);
    background-size: cover;
    padding: 341px 0;
}
.header-content {
    text-align: center;
    color: white;
}
.header-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 65px;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 790px;
    top: 216px;
}
.header-description {
    position: absolute;
    width: 430px;
    height: 78px;
    left: 876px;
    top: 450px;
    font-weight: 400;
    font-size: 14px;
}
.header-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1146px;
    top: 527px;
    cursor: pointer;
    color: #005fac;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}