*{
    margin: 0;
    font-family: Work Sans;
}
.header{
    background-image: url(../images/banner/banner3.png);
    background-size: cover;
    padding: 341px 0;
}
.header-content{
    text-align: right;
    color: white;
    margin-right: 100px;
}
.header-title{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 65px;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 790px;
    top: 216px;
}
.header-description{
    position: absolute;
    width: 430px;
    height: 78px;
    left: 876px;
    top: 450px;
    font-weight: 400;
    font-size: 14px;    
}
.btn{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1146px;
    top: 527px;
    cursor: pointer;
    color: #005fac;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
}
/* main content */
.main{
    padding: 100px;
}
.content{
    display: flex;
    margin-top: 50px;
    gap: 100px
}
.banner{
    margin-top: 200px;
}
.banner-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
    color: #151414;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 20px;
}
ul{
    list-style: none;
    padding-inline-start: 0px;
}
ul li i{
    color: #16d887;
}
ul li{
    line-height: 26px;
    color: #444343;
}
/* my plans */
.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 130px;
}
.plan-contains{
    display: flex;
    justify-content: space-between;
}
.title{
    display: flex;
    justify-content: space-between;
}
.web{
    position: relative;
    left: 70px;
}
.javascript{
    position: relative;
    left: 65px;
}
.ecommerce{
    position: relative;
    right: 50px;
}
.sub-title{
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}
.title-description{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: #737272;
}
.web-des{
    position: absolute;
    margin-right: 900px;
    font-weight: 500;
    font-size: 25px;
}
.js-des{
    margin-right: 230px;
    position: absolute;
    font-weight: 500;
    font-size: 25px;
}
.smoke-des{
    position: absolute;
    margin-left: 370px;
    font-weight: 500;
    font-size: 25px;
}
.e-des{
    position: absolute;
    margin-left: 980px;
    font-weight: 500;
    font-size: 25px;
}
/* contact section */
.contact{
    background-image: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    padding: 10px 65px 85px 65px;
    background-repeat: no-repeat;
    margin-top: 150px;
}
.contact-description{
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    color: white;
    width: 450px;
    margin-bottom: 10px;
    margin-top: 15px;
}
.contact-btn{
    width: 160px;
    height: 64px;
    cursor: pointer;
    color: #005fac;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}
/* footer */
.footer{
    background-color: black;
    display: flex;
    padding: 150px;
}
.footer-title{
    color: white;
}
.footer-sub-title{
    font-weight: 700;
    font-size: 45px;
    line-height: 80px;
}
.footer-description{
    margin-right: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.footer-address{
    margin-top: 10px;
}
.footer-icon{
    gap: 20px;
    margin-top: 30px;
    display: flex;
}
/* Subscribe part */
.subscribe-part{
    color: white;
}
.subscribe-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}
.email-form{
    width: 280px;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 18px;
    color: #ffffff;
    margin-top: 30px;
    background-color: transparent;
}
.submit{
    background: #005fac;
    border-radius: 8px;
    padding: 20px 35px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}